body
{
margin:0;
font-family:Segoe UI;
background:#f4f8fb;
}

.container
{
width:100%;
max-width:700px;
height:100vh;
margin:auto;
display:flex;
flex-direction:column;
}

.header
{
background:#0d6efd;
color:white;
padding:20px;
font-size:22px;
font-weight:bold;
}

.chat-box
{
flex:1;
padding:20px;
overflow-y:auto;
background:white;
}

.user-message
{
background:#0d6efd;
color:white;
padding:12px;
margin:10px;
border-radius:10px;
width:fit-content;
margin-left:auto;
}

.bot-message
{
background:#e9ecef;
padding:12px;
margin:10px;
border-radius:10px;
width:fit-content;
}

.input-area
{
display:flex;
padding:10px;
background:white;
}

input
{
flex:1;
padding:12px;
font-size:16px;
}

button
{
padding:12px;
background:#0d6efd;
color:white;
border:none;
cursor:pointer;
}

.typing
{
color:gray;
margin:10px;
}